<nav class="navbar navbar-expand-lg fixed-top navbarScroll">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="Logo Donasikami.com"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about-us">Tentang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#method">Donasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalog/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalog/account">Akun</a>
                </li>
            </ul>
        </div>
    </div>
</nav>