<section id="account" class="account">
    <div class="name">
        <p class="username-title">Username</p>
        <p class="username-text"><%= data.username %></p>
    </div>

    <a href="/logout" class="button">Logout</a>
    <a href="/write" class="button">Buat Artikel</a>
</section>