<section id="article" class="article">
    <h1>
        <%= article.title %>
    </h1>
    <div class="img-article">
        <img src="<%= article.image %>" alt="">
    </div>
    <article>
        <%- article.article %>
    </article>
    <a href="/catalog/blog" class="btn btn-primary">Kembali</a>
</section>