<section id="dash-donates" class="dash-donates">
    <% donates.forEach(donate => { %>
        <div class="list-account">
            <p>
                <%= donate.name %>
            </p>
        </div>
        <% }); %>
</section>