<section id="dash-blogs" class="dash-blogs">
    <% blogs.forEach(blog => { %>
        <div class="list-items">
            <div class="information">
                <h5><%= blog.title %></h5>
            </div>
            <div class="action-button">
                <form action="/catalog/show-article" method="post">
                    <input type="hidden" value="<%= blog._id %>" name="_id">
                    <button type="submit" class="btn btn-primary">Detail</button>
                </form>
                <form action="/catalog/delete-article" method="post">
                    <input type="hidden" value="<%= blog._id %>" name="_id">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Yakin ingin menghapus?')">Delete</button>
                </form>
            </div>
        </div>
        <% }); %>
</section>