<section id="dash-accounts" class="dash-accounts">
    <% accounts.forEach(account => { %>
        <div class="list-account">
            <p><%= account.username %></p>
            <p><%= account.email %></p>
        </div>
    <% }); %>
</section>