
    <section class="home" id="home">
        <div class="left">
            <h3>SALING BERBAGI,</h3>
            <h1>CIPTAKAN</h1>
            <h1>PERUBAHAN</h1>
            <h1>POSITIF</h1>
            <p>Mari bergabung dalam gerakan kebaikan ini dengan mendonasikan barang bekas Anda sekarang. Dengan bergabung bersama kami, Anda dapat membantu memperbaiki kualitas hidup mereka yang membutuhkan. </p>
            <a href="/catalog/formulir-userId"><strong>JANGAN BUANG, BERBAGILAH!</strong></a>
            <a href="#about-us"><strong>SIAPA DONASIKAMI.COM?</strong></a>
        </div>
        <div class="right">
            <img src="/assets/images/gambar-home-1.png" alt="Donasikami">
        </div>
    </section>

    <section class="terms" id="terms">
        <div class="border-title">
            <h1><strong>KETENTUAN BARANG DONASI</strong></h1>
        </div>
        <div class="list-terms">
            <ul>
                <li><strong>Kondisi barang:</strong></li>
                <ul>
                    <li>Barang bekas yang akan didonasikan <strong>WAJIB</strong> berstatus “masih layak pakai”</li>
                    <li>Bersih, tidak mengandung bau atau noda</li>
                </ul>
                <li><strong>Kategori barang:</strong> pakaian, buku, mainan, peralatan rumah tangga, dan barang yang masih layak pakai lainnya.</li>
                <li><strong>Keamanan barang:</strong> tidak membahayakan beneficiaries (mudah terbakar, mudah pecah, atau berbahaya bagi kesehatan)</li>
                <li><strong>Dokumen pendukung</strong> (khusus untuk barang elektronik/buku/peralatan medis): sertifikat, buku manual, untuk memastikan
                keamanan dan kualitas barang tsb.</li>
                <li>Barang yang telah dikirim tidak dapat dikembalikan.</li>
            </ul>
        </div>
        <div class="category">
            <div class="item">
                <img src="/assets/images/pakaian.png" alt="Pakaian">
                <p>Pakaian layak pakai</p>
            </div>
            <div class="item">
                <img src="/assets/images/perlengkapan.png" alt="Pakaian">
                <p>Perlengkapan Rumah Tangga</p>
            </div>
            <div class="item">
                <img src="/assets/images/buku.png" alt="Pakaian">
                <p>Semua jenis buku & majalah</p>
            </div>
            <div class="item">
                <img src="/assets/images/mainan.png" alt="Pakaian">
                <p>Semua jenis mainan</p>
            </div>
        </div>
    </section>

    <section class="method" id="method">
        <div class="border-title">
            <h1><strong>CARA DONASI</strong></h1>
        </div>
        <div class="step">
            <div class="item">
                <img src="/assets/images/barang.png" alt="Pakaian">
                <p>Mengumpulkan barang yang akan didonasikan</p>
            </div>
            <div class="item">
                <img src="/assets/images/formulir.png" alt="Pakaian">
                <p>Mengisi formulir</p>
            </div>
            <div class="item">
                <img src="/assets/images/kirim.png" alt="Pakaian">
                <p>Mengirimkan barang</p>
            </div>
            <div class="item">
                <img src="/assets/images/konfirmasi.png" alt="Pakaian">
                <p>Melakukan konfirmasi setelah barang dikirim</p>
            </div>
            <div class="item">
                <img src="/assets/images/lokasi.png" alt="Pakaian">
                <p>Melacak barang di website</p>
            </div>
            <div class="item">
                <img src="/assets/images/ulasan.png" alt="Pakaian">
                <p>Memberikan umpan balik</p>
            </div>
        </div>
        <a href="/catalog/formulir-userId" class="btn btn-primary"><strong>MULAI DONASI</strong></a>
    </section>

    <section class="about" id="about">
        <div class="item">
            <img src="/assets/images/tong-sampah.png" alt="Pakaian">
            <p>DonasiKami.com adalah sebuah platform yang memungkinkan pengguna untuk mendonasikan barang bekas yang masih layak pakai dan dapat digunakan kembali oleh orang lain.</p>
        </div>
        <div class="item">
            <img src="/assets/images/penghubung.png" alt="Pakaian">
            <p>DonasiKami.com berkomitmen untuk menghubungkan para donatur dengan para penerima donasi secara mudah dan terpercaya, sehingga barang yang didonasikan dapat membantu orang yang membutuhkan.</p>
        </div>
        <div class="item">
            <img src="/assets/images/ceklis.png" alt="Pakaian">
            <p>DonasiKami.com menawarkan layanan yang mudah dan cepat bagi pengguna yang ingin mendonasikan barang bekas, sehingga pengguna tidak perlu ribet dalam proses donasi.</p>
        </div>
    </section>

    <section class="about-us" id="about-us">
        <h1>SIAPA DONASIKAMI.COM?</h1>  
        <div class="card-box">
            <div class="card-item">
                <img src="/assets/images/philantropis.png" alt="Philantropis">
                <h6>PHILANTROPIS</h6>
                <p>adalah pihak yang memberikan donasi atau sumbangan untuk membantu upaya kemanusiaan dan sosial, dan dapat menjadi
                    mitra penting dalam mendukung keberlangsungan website DonasiKami.com.</p>
            </div>
            <div class="card-item">
                <img src="/assets/images/headquarter.png" alt="Philantropis">
                <h6>HEADQUARTER</h6>
                <p>adalah pusat pengelolaan dan koordinasi operasional website DonasiKami.com yang bertanggung jawab atas
                    pengambilan keputusan strategis dan pengembangan layanan untuk mendukung keberlangsungan program donasi barang
                    bekas.</p>
            </div>
            <div class="card-item">
                <img src="/assets/images/beneficiaries.png" alt="Philantropis">
                <h6>BENEFICIARIES</h6>
                <p>atau pihak penerima manfaat adalah kelompok atau individu yang menerima bantuan atau sumbangan dari program
                    donasi barang bekas di website DonasiKami.com untuk meningkatkan kesejahteraan mereka.</p>
            </div>
    </section>

    <section id="contact" class="contact">
        <div class="border-title">
            <h1><strong>HUBUNGI KAMI</strong></h1>
        </div>
        <form action="/catalog/send-message" method="post" id="formSave">
            <div class="name item">
                <label for="name">Nama Lengkap</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="email item">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="subject item">
                <label for="subject">Subject</label>
                <input type="text item" name="subject" id="subject">
            </div>
            <div class="message item">
                <label for="messsage">Message</label>
                <div id="article-box"></div>
            </div>
            <button class="btn btn-primary" onclick="getMessage()"><strong>KIRIM</strong></button>
        </form>
    </section>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    
    <script>
        const quill = new Quill('#article-box', {
            theme: "snow"
        });
    </script>


