<section id="thanks" class="thanks">
    <div class="thanks-img">
        <img src="/assets/images/donasi-berhasil.png" alt="">
    </div>
    <div class="thanks-txt">
        <h1>Terima kasih telah berdonasi</h1>
        <p>Formulirmu sudah terkirim. Tunggu konfirmasi dari kami, ya!</p>
        <p>Jadikan barang bekasmu bernilai, beri manfaat untuk sesama melalui</p>
        <h4>Donasikami.com</h4>
        <a href="/" class="btn btn-primary">Kembali ke beranda</a>
    </div>
</section>