<section id="write-article" class="write-article">
    <h1>BUAT ARTIKEL</h1>
    <a href="/catalog/account" class="btn btn-primary">Kembali</a>
    <form action="/catalog/write" method="post" enctype="multipart/form-data" id="formSave">
        <div class="title">
            <label for="title">Judul Artikel</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="image">
            <label for="image">Unggah Gambar</label>
            <div class="image-box">
                <img id="image-place" alt="Your Image">
                <input type="file" id="image" accept="image/*" onchange="loadFile(event)" name="image" required>
            </div>
        </div>
        <div class="article-place">
            <label for="article-box">Tulis Artikel</label>
            <div id="article-box">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" onclick="getTeks()">Kirim</button>
    </form>
</section>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
    const quill = new Quill('#article-box', {
        theme: "snow"
    });
</script>