body{
    background-color: #1B3C65;
    padding: 0 104px;
    color: white;
}

/* HOME PAGE */
.navbar{
    background-color: #1B3C65;
    width: 100%;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar img{
    height: 70px;
}

/* HOME SECTION */
.home{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.home .left{
    width: 50%;
    margin: auto;
}

.home .left h1{
    font-size: 5rem;
    line-height: 70px;
    text-align: left;
}

.home .left h3{
    opacity: .7;
    font-size: 1.5rem;
}

.home .left p{
    opacity: .7;
}

.home .right{
    display: flex;
    justify-content: end;
    width: 50%;
    margin: auto;
}

.home .right img{
    width: 80%;
}

.home a{
    display: inline-block;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 10px;
    text-decoration: none;
    background-color: #6EBADF;
    line-height: 30px;
    color: #1B3C65;
    margin-right: 10px;
}

/* TERMS SECTION */
.terms{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 128px;
}

.terms .list-terms{
    text-align: left;
    width: 80%;
    margin: 0 auto 32px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 16px;
    box-sizing: border-box;
}

.terms .list-terms ul{
    margin: 0;
}

.terms .category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.terms .category .item{
    width: 25%;
}

.terms .category .item img{
    margin-bottom: 4px;
    height: 100px;
}

/* METHOD SECTION */
.method{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 128px;
}

.method .step{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 32px;
}

.method .step .item {
    width: 33%;
}

.method .step .item img{
    height: 100px;
    margin-bottom: 4px;
}

.method .step .item p{
    width: 100%;
}

.method a{
    display: inline-block;
    width: 20%;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #6EBADF;
    line-height: 30px;
    color: #1B3C65;
}

/* ABOUT SECTION */
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 128px;
}

.about .item{
    width: 33%;
    text-align: center;
}

.about .item img{
    height: 100px;
    margin-bottom: 4px;
}

.about-us{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 128px;
}

.about-us h1{
    margin-bottom: 32px;
}

.about-us .card-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-us .card-item{
    width: 30%;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 16px
}

.about-us .card-item img{
    height: 100px;
    margin-bottom: 8px;
}

.about-us .card-item p{
    margin: 0;
    opacity: .7;
}

/* WRITE ARTICLE PAGE */
.write-article{
    padding: 104px;
}

.write-article form{
    display: flex;
    flex-direction: column;
    gap: 32px 0;
}

.write-article form .title{
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.write-article form .title input{
    background-color: #1B3C65;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.write-article .image {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.write-article .image input {
    width: 98px;
}

.write-article .image .image-box {
    display: flex;
    gap: 8px 0;
    flex-direction: column;
    width: 50%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
}

.write-article .image .image-box img {
    height: 200px;
}

.write-article .article-place {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

/* USERID PAGE */
.form-satu{
    padding: 104px 0 0 0;
    width: 100%;
    margin: 0 auto 64px;
}

.form-satu h1{
    text-align: center;
    margin-bottom: 32px;
}

.form-satu .step{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 32px;
}

.form-satu .step .item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 100%;
}

.form-satu img{
    width: 30px;
}

.form-satu form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.form-satu .input{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-satu .notelp-input{
    flex-grow: 1;
}

.form-satu .email-input{
    flex-grow: 1;
}

.form-satu .double-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.form-satu .address-input textarea{
    height: 100px;
}

.form-satu input{
    background-color: #1B3C65;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
}

.form-satu textarea {
    background-color: #1B3C65;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
}

.form-satu input:focus{
    border: 2px solid white;
}

.form-satu .form-text{
    margin: 0;
    color: white;
    margin-bottom: 16px;
}

.form-satu button{
    background-color: #6EBADF;
    width: 30%;
    margin: auto;
}

/* PICKUP PAGE */
.form-dua{
    width: 100%;
    margin: 0 auto 64px;
    padding: 104px 0 0 0;
}

.form-dua h1 {
    text-align: center;
    margin-bottom: 32px;
}

.form-dua form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 24px 0;
}

.form-dua .step {
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 32px;
}

.form-dua .step .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 100%;
}

.form-dua .step .item img{
    width: 30px;
}

.form-dua input{
    background-color: #1B3C65;
    border: 2px solid white;
    border-radius: 10px;
}

.form-dua textarea {
    background-color: #1B3C65;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
}

.form-dua .category, .condition{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-dua .description{
    display: flex;
    flex-direction: column;
}

.form-dua .image{
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.form-dua .image input{
    width: 98px;
}

.form-dua .image .image-box{
    display: flex;
    gap: 8px 0;
    flex-direction: column;
    width: 50%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
}

.form-dua .image .image-box img{
    height: 200px;
}

.form-dua .schedule{
    display: flex;
    flex-direction: row;
    gap: 0 32px;
}

.form-dua .schedule input{
    color: white;
}

.form-dua .schedule .date-box, .time-box {
    display: flex;
    flex-direction: column;
}

.form-dua button{
    background-color: #6EBADF;
    width: 30%;
    margin: 16px auto 0;
}

/* LOGIN PAGE */
.login{
    padding: 104px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px 0;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 32px;
}

.login form input {
    background-color: #1B3C65;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 8px;
    color: white;
}

.login form .email {
    display: flex;
    flex-direction: column;
}

.login form .password {
    display: flex;
    flex-direction: column;
}

.login form button {
    display: inline-block;
    background-color: #6EBADF;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    border: none;
}

.login a{
    text-decoration: none;
    color: aqua;
}

/* REGISTER PAGE */
.register {
    padding: 104px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px 0;
}

.register form {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 32px;
}

.register form input {
    background-color: #1B3C65;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 8px;
    color: white;
}

.register form .email {
    display: flex;
    flex-direction: column;
}

.register form .password {
    display: flex;
    flex-direction: column;
}

.register form .passwordConfirm {
    display: flex;
    flex-direction: column;
}

.register form button {
    display: inline-block;
    background-color: #6EBADF;
    border-radius: 5px;
    width: 30%;
    margin: auto;
    border: none;
}

.register a {
    text-decoration: none;
    color: aqua;
}

/* BLOG PAGE */
.blog {
    padding: 128px 0;
    box-sizing: border-box;
}

.blog h1{
    text-align: center;
    margin-bottom: 32px;
}

.blog .blog-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px 16px;
}

.blog .card{
    display: flex;
    flex-basis: 23%;
    color: black;
}

.blog .card-text p{
    display: inline;
}

.blog .box-img{
    height: 200px;
    overflow: hidden;
}

.blog .card-body a{
    margin-top: 12px;
}

/* ARTICLE PAGE */
.article{
    padding: 128px 0;
}

.article .img-article{
    width: 480px;
    height: 270px;
    overflow: hidden;
    margin: auto;
}

.article .img-article img{
    width: 100%;
    height: 100%;
}

.article h1{
    margin-bottom: 32px;
}

.article article{
    margin-bottom: 64px;
}

/* ACCOUNT PAGE */
.account{
    padding: 128px 0 64px;
}

.account .header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    align-items: center;
    margin-bottom: 16px;
}

.account .name{
    width: 100%;
    margin-bottom: 16px;
}

.account .action-button{
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 0 8px;
}

.account .action-button .edit{
    width: 100px;
}

.account .name .username-title{
    opacity: .7;
    margin: 0;
}

.account .name .username-text{
    margin: 0;
}

.account .blogs{
    margin-bottom: 32px;
}

.account .blogs .header-blogs{
    margin: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.account .blogs .header-blogs .action-button{
    position: absolute;
    right: 0;
}

.account .blogs .blog-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px 16px;
}

.account .blogs .card{
    display: flex;
    flex-basis: 23%;
    color: black;
}

.account .blogs .card-text p {
    display: inline;
}

.account .blogs .box-img {
    height: 200px;
    overflow: hidden;
}

.account .blogs .card-body a {
    margin-top: 12px;
}

/* GENERAL STYLE */
.border-title {
    background-color: white;
    width: 50%;
    color: #1B3C65;
    border-radius: 4px;
    margin-bottom: 32px;
    padding: 16px;
    box-sizing: border-box;
}

.border-title h1 {
    margin: 0;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    body{
        padding: 0;
        width: 100vw;
    }

    .navbar-toggler{
        background-color: #6EBADF;
    }

    .navbar-toggler-icon{
        background-image: url(../assets/icons/menu.svg);
    }

    /* HOME SECTION */
    .home{
        flex-direction: column;
        width: 100%;
        padding: 128px 0;
        gap: 20px 0;
    }

    .home .left {
        width: 100%;
    }

    .home .left h1{
        font-size: 3rem;
        line-height: 42px;
    }

    .home .left a{
        width: 40%;
        font-size: 10px;
        line-height: 12px;
        padding: 4px;
        text-align: center;
        margin-right: 16px;
    }

    .home .right {
        display: none;
        width: 100%;
        justify-content: center;
    }

    /* TERMS SECTION */
    .terms{
        padding: 0;
    }

    .terms .list-terms{
        width: 100%;
    }

    .terms .category{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .terms .category .item{
        width: 40%;
    }

    .terms .category .item img{
        height: 80px;
    }

    /* METHOD */
    .method .step .item{
        width: 40%;
    }

    .method .step .item img{
        height: 60px;
    }

    /* ABOUT */
    .about{
        flex-direction: column;
    }

    .about .item{
        width: 100%;
        margin-bottom: 20px;
    }

    /* ABOUT US SECTION */
    .about-us .card-box {
        flex-direction: column;
    }

    .about-us .card-box .card-item {
        width: 100%;
        margin-bottom: 20px;
    }

    /* USERID PAGE */
    .form-satu .step{
        display: flex;
        width: 50%;
        flex-direction: row;
    }

    .form-satu button{
        width: 50%;
    }

    /* PICKUP PAGE */
    .form-dua .step{
        display: flex;
        width: 50%;
        flex-direction: row;
    }

    .form-dua .schedule{
        flex-direction: column;
        gap: 16px 0;
    }

    /* GENERAL STYLE */
    .border-title {
        background-color: white;
        width: 80%;
        color: #1B3C65;
        border-radius: 4px;
        margin-bottom: 32px;
        padding: 8px;
        box-sizing: border-box;
    }
    
    .border-title h1 {
        margin: 0;
        font-size: 1.2rem;
    }
}